<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="header">
				<h4 class="title">Contact Information</h4>
				<p class="category">Anoop Monish</p>
			</div>
			<div class="content">
				<div class="row">
					<div class="col-xs-12">
						<a class="btn btn-social-icon btn-google-plus btn-danger" href="">
							<i class="fa fa-google-plus"></i>
						</a>&nbsp;&nbsp;anoopmonish@gmail.com
					</div>
				</div>
				<br>
				<div class="alert alert-info">
					<span><b>Please feel free to drop a mail with comments :)</b></span>
				</div>
				<div class="footer">
				<hr>
					<div class="stats">
						<i class="pe-7s-info"></i>
						This application is designed as an assignment for <a target="blank" href="http://www.coursera.org/learn/web-development-project/home/welcome">Coursera</a>.
					</div>
				</div>
			</div>
		</div>
	</div>
</div>